/* You can add global styles to this file, and also import other style files */
/* body{
    background: url("https://i.postimg.cc/vTZvLd5j/bcbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */
footer{
    margin-bottom: 10px;
}