<div class="row">
    <div class="col-3">

    </div>
    
    <div class="col-9 text-center mt-3 p-5" style="background-color: rgb(255, 255, 255);">

        <h1 style="color: rgb(84, 22, 142);" class="text-primary mt-2 mb-5">Enjoy Net Banking with <span class="text-warning">HDFC</span></h1>
        <p class="text-start w-75 container">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo odit autem explicabo quo ipsum molestiae consectetur nihil earum? Deleniti quae ab delectus repellat reprehenderit tenetur soluta eius, iste distinctio corrupti.</p>
        <img id="d" class="w-75 p-2"
        src="https://i.postimg.cc/3wVzW5xC/bank1.jpg" alt="">

    </div>

</div>
