<div class="row">
    <div class="col-3 " style="background-color: rgb(3, 3, 60);">

        <div class="list-group border-0 mt-0 w-100 fs-5 text-center" style="background-color: rgb(3, 3, 60);">
            
            <button style="background-color: rgb(3, 3, 60); color: white; border: none;" type="button" class="list-group-item list-group-item-action active mt-3" aria-current="true">
                <i class="fa-solid fa-user text-warning"></i> Profile View
            </button>
            <hr class="text-white">
            <button style="background-color: rgb(3, 3, 60); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
            <i class="fa-solid fa-sack-dollar text-warning"></i> Balance Check</button>
            <hr class="text-white">
            <button style="background-color: rgb(3, 3, 60); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-rectangle-list text-warning"></i> Account Statement</button>
            <hr class="text-white"> 
            <button style="background-color: rgb(3, 3, 60); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-money-bill-transfer text-warning"></i>  Money Transfer</button>
            <hr class="text-white">
            <button style="background-color: rgb(3, 3, 60); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-person-circle-minus text-warning"></i> Delete Account</button>
            <hr class="text-white">
            <button style="background-color: rgb(3, 3, 60); color: white; border: none;" type="button" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-right-from-bracket text-warning"></i> Logout</button>
                <hr class="text-white">


          </div>

    </div>
    
    <div class="col-9 text-center mt-3 p-5" style="background-color: rgb(255, 255, 255);">

        <h1 style="color: rgb(84, 22, 142);" class="text-primary mt-2 mb-5">Enjoy Net Banking with <span class="text-warning">HDFC</span></h1>
        <p class="text-start w-75 container">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo odit autem explicabo quo ipsum molestiae consectetur nihil earum? Deleniti quae ab delectus repellat reprehenderit tenetur soluta eius, iste distinctio corrupti.</p>
        <img id="d" class="w-75 p-2"
        src="https://i.postimg.cc/3wVzW5xC/bank1.jpg" alt="">

    </div>

</div>
